:root {
    --color-principal-PIEL: #FEF2F2;
    --colo-principal-orange: #f26440;
    --color-principal-verde: #286f6c;
    --color-principal-gris: #ADADAD;
    --color-principal-blanco: #FFFFFF;
    --color-principal-blancogris: #F9F5F2;
    font-family: 'Open Sans', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: var(--color-principal-blanco);
    box-sizing: border-box;

}

.header {
    background-color: var(--color-principal-PIEL);
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    /* padding: 0.2rem; */
    margin: 1px;
    margin-top: 0px;
    margin-left: 1px;
}

.sec-head {
    box-sizing: border-box;
    margin: 1px;
    width: 100%;
}

.navhead {
    display: flex;
    padding: 0.5rem 1px;
    /* height: 45px; */
    background-color: var(--color-principal-PIEL);
    width: 100%;
    align-items: end;
    min-width: 320px;
    max-width: 640px;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    margin: 1px;
}

label {
    width: 100%;
    min-width: 90%;
    position: relative;
    display: flex;
    /* left: 620px; */
    flex-direction: row;
    justify-content: flex-end;
}

label>img {
    width: 36px;
}

.liheader>a {
    text-decoration: none;
    color: var(--color-principal-gris);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 0rem 1rem;
    font-weight: 400;
}

.liheader>a:hover {
    color: var(--color-principal-verde);
}

#menu {
    visibility: hidden;
}

.contenerhd {
    position: absolute;
    color: var(--color-principal-gris);
    width: 100%;
    top: 50px;
    min-height: calc(100vh - 400px);
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    left: -100%;
    row-gap: 5px;
    transition: left .5s linear;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--color-principal-PIEL);

}

.liheader {
    list-style: none;
    font-size: 1.25rem;
    background-color: var(--color-principal-PIEL);

}

#menu:checked~.contenerhd {
    left: 0;

}

.header-in {
    margin: 10px;


}

.header-in>h1 {
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 0.5rem;
    text-align: center;

    margin: 10px;

}

.hed-in {
    display: flex;
    border-radius: 32px;
    border: 5px var(--colo-principal-orange);
    /* grid-template-areas: "uno dos tres"; */
    /* background-color: var(--color-principal-blanco); */
    max-width: 640px;
    justify-content: space-evenly;
    margin: 1rem;
}

.con-link,
.clas-ins,
.con-tiwit {

    /* display: flex; */
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 91%;
    background-color: #f26440;
    /* width: 30%; */
    margin: .5rem;
}

.ing-head {
    width: 100%;
    padding: 1.5rem;
    max-width: 400px;
    margin-left: 100px;
    margin-left: 1rem;
    border-radius: 183px;
}

.refert {
    margin: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
}

.tite-body {
    font-size: 29px;
    padding: 0.1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--color-principal-verde);
    width: 80%;
    /* max-width: 359px; */
    margin: 10px;
}

.p-body {
    font-family: 'Open Sans', sans-serif;
    padding: 0.5rem 0rem;
    text-align: justify;
    max-width: 640px;
    font-size: 12px;
    margin: 5px;

}

.diseno {
    height: 335px;
}

.circulo-grande {
    background-color: var(--color-principal-verde);
    width: 358px;
    height: 326px;
    border-radius: 50%;
    position: relative;
    right: 36px;

}

.circulo-peq {
    background-color: var(--colo-principal-orange);
    width: 122px;
    height: 126px;
    border-radius: 50%;
    position: relative;
    right: 32px;
    top: -92%;

}

.section {

    padding: 0.5rem;
}

.section>h2 {
    font-size: 34px;
    font-weight: 400;
    color: black;
    padding: 1.5rem 0.1rem;
    margin: 5px;
    position: relative;
    top: -447px;
    left: 3%;

}

.informacion-body {
    display: flex;
    overflow: scroll;
    width: 100%;
    box-sizing: border-box;
    padding: .1rem;
    flex-direction: row;
    gap: 9px;
    border: 10px;
    position: relative;
    bottom: 456px;
}

.informacion-body>section {
    background-color: var(--color-principal-gris);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 350px; */
    /* min-width: 177px; */
    min-height: 77px;
    max-height: 200px;
}

.informacion-body h3 {
    position: relative;
    top: -30px;
    left: 29px;
    padding: 0.1rem;
    width: 139px;
    text-align: justify;
    font-size: 17px;
    margin: 5px;
}

.informacion-body img {
    width: 38px;
    height: 43px;
    padding: 0.5rem;
    margin: 3px;
}

.parhea {
    text-align: inherit;
    font-size: 13px;
    padding: 0.5rem;
    margin: 0.1rem;
    width: 158px;
    position: relative;
    top: -34px;

}

.experiecia {
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem 1px;
    max-width: 640px;
    min-width: 320px;
    margin-bottom: 2.5rem;
    margin-bottom: 7rem;

}

.experiecia h2 {
    color: var(--color-principal-verde);
    font-style: 32px;
    padding: 1.5rem;
    max-width: 640px;
}

.sec-exp {
    box-sizing: border-box;
    width: 100%;
    padding: 0.1rem;
    margin: 0.1rem;
    display: flex;
    max-width: 640px;
    /* min-width: 640px; */
    justify-content: space-evenly;
}

.div-ex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    /* left: 60px; */
    /* width: 50%; */
    max-width: 640px;
    padding: 1px 1.5rem;
    /* align-content: flex-start; */
    justify-content: space-around;
}

span {
    font-weight: bold;
    font-weight: 15px;
}

.sec-exp h4 {
    font-size: 10px;
    color: var(--color-principal-gris);
}

.sec-exp h6 {
    color: var(--color-principal-gris);
}

.sec-exp img {
    width: 10%;
    /* max-width: 640px; */
    /* min-width: 280px; */
    position: relative;
    left: 27px;
}

.anos {
    padding: 1rem;
    /* position: relative; */
    /* left: 63px; */
    font-size: 16px;
    color: black;
    width: 10%;
    max-width: 640px;
}


.app {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-principal-verde);
}



.div-fit {
    box-sizing: border-box;
    background-color: var(--color-principal-blanco);
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    height: 320px;
}

.app img {
    width: 100%;
    max-width: 640px;
    padding: 1rem;
    height: 272px;
}


.div-fit h4 {
    margin: 1rem;
    margin-bottom: -9px;
    position: relative;
    bottom: 23px;
}

.portafolio h2 {
    color: var(--color-principal-blanco);
    font-size: 32px;
    padding: 1.5rem;
}

.portafolio p {
    color: var(--color-principal-blanco);
    font-size: 16px;
    padding: 0.1rem 1.5rem;
}

.port {
    box-sizing: border-box;
    background-color: var(--color-principal-blanco);
    width: 94%;
}

footer h2 {
    color: var(--color-principal-verde);
    padding: 1.5rem;
    font-size: 32px;
}

.img-footer {
    display: flex;
    justify-content: space-around;
}

.img-footer div {
    border-radius: 100%;
    background-color: var(--colo-principal-orange);
}

.img-footer img {
    width: 100%;
    padding: .5rem;
}

.inf {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
}

.inf h3 {
    font-size: 16px;
    color: var(--color-principal-verde);
    text-align: center;
}

.circulo-fot {
    background-color: rgb(186, 231, 231);
    width: 40%;
    height: 158px;
    border-radius: 50%;
    position: relative;
    left: -140px;
    top: -57px;
    overflow: hidden;
    opacity: 0.4;
}

.fin {
    font-size: 20px;
    padding: 1rem;
    margin: 1.5rem;
    color: var(--colo-principal-orange);
    text-align: center;
}

@media screen and (min-width:768px) {
    label {
        display: none;

    }

    .contenerhd {
        position: static;
        flex-direction: row;
        min-height: auto;
        justify-content: end;

    }

    .liheader {
        padding: 1.25rem;
        font-size: 32px;

    }

    .navhead {
        width: 100%;
        max-width: 2000px;
        margin-top: 4rem;
    }

    .header {
        width: 100%;
        max-width: 2000px;

    }

    .hed-in {
        width: 100%;
        max-width: 1500px;
    }

    .ing-head {
        align-content: center;
        margin: 1rem;
        max-width: 500px;
        margin-right: 1.5rem;
    }

    .sec-head {
        display: flex;
        justify-content: space-around;
    }

    .header-in>h1 {
        font-size: 107px;
        margin: 1rem;
        padding: 0.1rem 1rem;
        margin-top: 11rem;
    }

    .con-link,
    .clas-ins,
    .con-tiwit {
        width: 10%;
    }

    .body-m {
        width: 90%;
        display: flex;
        /* padding: 1rem; */
        /* margin: 1rem; */
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }


    .tite-body {
        font-size: 40px;
        /* width: 153%; */
        /* border: 66rem; */
        margin: 2rem;
        /* margin-right: -1px; */
        display: flex;
        /* padding: 1px 8rem; */
        flex-direction: row;
        align-items: baseline;
        justify-content: initial;
        padding: 1px 10rem;
    }

    .p-body {
        width: 95%;
        font-size: 18px;
        /* margin-left: 5rem; */
        /* margin: 1px; */
        /* margin-left: 10rem; */
        /* padding: 1px; */
        display: flex;
        /* text-align: left; */
        /* align-items: baseline; */
        /* padding: 1rem; */
        max-width: 1091px;
        margin-left: 15rem;
    }

    .diseno {
        width: 100%;
        margin-bottom: 9rem;

    }

    .circulo-grande {
        width: 578px;
        height: 498px;
        left: 25px;
    }

    .circulo-peq {
        width: 155px;
        height: 149px;
        top: -454px;
        left: 2px;
    }

    .informacion-body {
        overflow: hidden;
        width: 82%;
        left: 163px;
        bottom: 608px;
    }

    .section>h2 {

        font-size: 40px;
        top: -599px;
        left: 156px;
        width: 50%;
        margin: 1px;
        max-width: 800px;
        margin-right: 1px;
    }

    .informacion-body>section {
        width: 100%;
        max-width: 800px;
        max-height: 501px
    }

    

    .informacion-body h3 {
        font-size: 24px;
        width: 90%
    }

    .parhea {
        width: 90%;
        max-width: 1000px;
        height: 123px;
        font-size: 18px;
    }

    .experiecia {
        width: 100%;
        max-width: 1341px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .experiecia h2 {
        font-size: 32px;
        text-align: center;
        max-width: 800px;
        position: relative;
        margin: 1rem;
        bottom: 88px;
        left: 282px;
    }

    .sec-exp {
        width: 100%;
        max-width: 908px;
        display: flex;
        flex-direction: row;
        margin-top: 9rem;
        position: relative;
        margin-bottom: 5rem;
        justify-content: space-evenly;
        right: 143px;
    }

    .sec-exp img {
        width: 25%;
    }

    .app img {
        max-width: 800px;
        width: 100%;
    }

    .div-fit {
        box-sizing: border-box;
        background-color: var(--color-principal-blanco);
        width: 90%;
        margin: 1rem;
        padding: 1rem;
        height: 320px;
        margin: -20px;
        margin-left: 1rem;


    }


    .portafolio h2 {
        font-size: 32px;

    }

    .port {
        width: 100%;
        grid-area: tres;
        max-width: 800px;
        grid-column: 3/4;
        grid-row: 2/3;
        /* margin: 1rem; */
        padding: 1rem;
        height: 250px;
        margin-bottom: 1rem;
    }

    .port img {
        max-width: 800px;
        max-height: 316px;

    }

    .port h4 {
        margin-bottom: 2rem;
    }

    .app {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 220px);
        width: 100%;
        margin: 10px;
        max-height: 500px;
        padding: 1.2rem;
    }

    .portafolio {
        box-sizing: border-box;
        grid-column: 2/4;
        margin-left: 5rem;

    }

    

    footer {
        margin-top: 5rem;
    }

    footer h2 {
        margin-left: 15rem;
    }

}